@model IEnumerable<qlNhaHang.ViewComponents.CartItem>
@{
    ViewData["Title"] = "Checkout";
    Layout = null;
}
@{
    var currentDate = DateTime.Now.ToString("yyyy-MM-dd");
    var total = Model.Sum(p => p.ThanhTien);
}
    <!-- food section -->
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="../Giaodien/images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="../Giaodien/css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="../Giaodien/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../Giaodien/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="../Giaodien/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="../1LayoutOgani/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutOgani/css/style.css" type="text/css">

</head>
<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="../Giaodien/images/hero-bg.jpg" alt="">
        </div>
        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="index.html">
                        <span>
                            Feane
                        </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav  mx-auto ">
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="MonAn" asp-action="HomeNhaHang">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-controller="MonAn" asp-action="Index">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="MonAn" asp-action="BookTable">Book Table</a>
                            </li>
                        </ul>
                        @await Component.InvokeAsync("Cart")
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
    </div>
    <section class="shoping-cart spad">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th></th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="../Images/ImageProduct/@item.Hinh" style="height: 100px; width: 100px" alt="">
                                            <h5>@item.TenMA</h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            @item.DonGia.ToString("#,##") đồng
                                        </td>
                                        <form asp-action="UpdateCart" asp-controller="Cart" asp asp-route-id="@item.MaMA">
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" value="@item.SoLuong" name="quantity">
                                                </div>
                                            </div>
                                        </td>
                                        <td> <input type="submit" value="Cập nhật" /></td>
                                        <td class="shoping__cart__total">
                                                @item.ThanhTien.ToString("#,##") đồng
                                        </td>
                                        </form>
                                        <td class="shoping__cart__item__close">
                                            <a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.MaMA"><span class="icon_close"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="#" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="#" class="primary-btn cart-btn cart-btn-right">
                            <span class="icon_loading"></span>
                            Upadate Cart
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>$454.98</span></li>
                            <li>Total <span>$@Model.Sum(p => p.ThanhTien).ToString("#,##") đồng</span></li>
                        </ul>
                        @* <a asp-action="ThanhToan" asp-controller="Cart" class="primary-btn">PROCEED TO CHECKOUT</a> *@
                        <section class="book_section layout_padding">
                            <div class="container">
                                <div class="heading_container">
                                    <h2>
                                        Book A Table
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form asp-action="Checkout" asp-controller="Cart">
                                        <div class="form_container">
                                           
                                                <div>
                                                    <input type="text" class="form-control" name="HoTen" placeholder="Your Name" />
                                                </div>
                                                <div>
                                                    <input type="text" class="form-control" name="DienThoai" placeholder="Phone Number" />
                                                </div>
                                                <div>
                                                    <input type="email" class="form-control" name="Email" placeholder="Your Email" />
                                                </div>
                                                <div>
                                                    <select class="form-control nice-select wide" name="SoNguoi">
                                                        <option value="" disabled selected>
                                                            How many persons?
                                                        </option>
                                                        <option  value="2">
                                                            2
                                                        </option>
                                                        <option value="3">
                                                            3
                                                        </option>
                                                        <option value="4">
                                                            4
                                                        </option>
                                                        <option value="5">
                                                            5
                                                        </option>
                                                    </select>
                                                </div>
                                                <div>
                                                    <select class="form-control nice-select wide" name="GioNhanBan">
                                                        <option value="" disabled selected>
                                                            Buổi sáng
                                                        </option>
                                                        <option value="8h00 - 10h00">
                                                            8h00 - 10h00
                                                        </option>
                                                        <option value="10h00 - 12h00">
                                                            10h00 - 12h00
                                                        </option>
                                                        <option value="" disabled selected>
                                                            Buổi chiều
                                                        </option>
                                                        <option value="14h00 - 17h00">
                                                            14h00 - 17h00
                                                        </option>
                                                        <option value="15h00 - 18h00">
                                                            15h00 - 18h00
                                                        </option>
                                                        <option value="" disabled selected>
                                                            Buổi tối
                                                        </option>
                                                        <option value="18h00 - 20h00">
                                                            18h00 - 20h00
                                                        </option>
                                                        <option value="19h00 - 20h00">
                                                            19h00 - 20h00
                                                        </option>
                                                        <option value="20h00 - 22h00">
                                                            20h00 - 22h00
                                                        </option>
                                                    </select>
                                                </div>
                                                <input type="hidden" name="Tongtien" value="@total" />
                                        <div>
                                            <input type="date" class="form-control" name="NgayBook" value="@currentDate">
                                        </div>
                                                <div class="btn_box" style="display:grid; place-items: center">
                                                    <button type="submit">
                                                        Book Now
                                                    </button>
                                                </div>
                                         
                                        </div>
                                        </form>
                                    </div>
                            
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end food section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            Contact Us
                        </h4>
                        <div class="contact_link_box">
                            <a href="">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    Location
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    Call +01 1234567890
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    demo@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a href="" class="footer-logo">
                            Feane
                        </a>
                        <p>
                            Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        Opening Hours
                    </h4>
                    <p>
                        Everyday
                    </p>
                    <p>
                        10.00 Am -10.00 Pm
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> All Rights Reserved By
                    <a href="https://html.design/">Free Html Templates</a><br><br>
                    &copy; <span id="displayYear"></span> Distributed By
                    <a href="https://themewagon.com/" target="_blank">Code Runner</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- footer section -->
    <!-- jQery -->
    <!-- jQery -->
    <script src="../Giaodien/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="../Giaodien/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="../Giaodien/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <script>
        $(document).ready(function () {
            $('.navbar-nav .nav-item ').on('click', function () {
                $('.navbar-nav .nav-item').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>
    <script src="../1LayoutOgani/js/jquery-3.3.1.min.js"></script>
    <script src="../1LayoutOgani/js/bootstrap.min.js"></script>
    <script src="../1LayoutOgani/js/jquery.nice-select.min.js"></script>
    <script src="../1LayoutOgani/js/jquery-ui.min.js"></script>
    <script src="../1LayoutOgani/js/jquery.slicknav.js"></script>
    <script src="../1LayoutOgani/js/mixitup.min.js"></script>
    <script src="../1LayoutOgani/js/owl.carousel.min.js"></script>
    <script src="../1LayoutOgani/js/main.js"></script>
    <!-- End Google Map -->
    <!-- End Google Map -->

</body>

</html>