@model IEnumerable<qlNhaHang.Data.MonAn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMonAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiMonAn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anhdaidien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMonAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiMonAn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anhdaidien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh3)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
