@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<qlNhaHang.Data.HoaDon>
@{
    ViewData["Title"] = "LichDatBan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    IEnumerable<Ban> tenban = ViewBag.Tenban as IEnumerable<Ban>;

}
<div class="row flex-grow">
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div >
                   
                    <div>
                        @* <a asp-action="ThemMonAn" class="btn btn-primary btn-lg text-white mb-0 me-0">
                        <i class="mdi mdi-account-plus"></i> Add new food
                        </a> *@
                        <section class="food_section layout_padding">
                            <div class="container">                               
                                    <div class="filters-content">
                                        <div class="row grid">
                                            @foreach (var item in Model)
                                            {
                                            <div class="col-sm-6 col-lg-4 all pizza">
                                                    <div class="box">
                                                        <div>
                                                            @if (item.IdBan == null)
                                                            {                      
                                                            <div class="img-box">
                                                                <h2 style="color:black">
                                                                    Chưa chọn bàn
                                                                </h2>
                                                            </div>
                                                        }
                                                        else
                                                        {

                                                            @foreach (var i in tenban)
                                                            {
                                                                if (i.IdBan == item.IdBan)
                                                                {
                                                                    <div class="img-box">
                                                                        <h2 style="color:black">
                                                                            @i.TenBan
                                                                        </h2>
                                                                    </div>
                                                                }
                                         

                                                            }
                                                            
                                                        }
                                                        <div class="detail-box">
                                                                <h6>
                                                                <i class="fa fa-user"></i>
                                                                @($"Khách hàng: {item.HoTen} ")
                                                                </h6>
                                                            <h6>
                                                                <i class="fa fa-phone"></i>
                                                                @($"Số điện thoại: {item.SdtkhachHang}")
                                                            </h6>
                                                            <h6>
                                                                <i class="fa fa-sort-numeric-asc"></i>
                                                                @($"Số người: {item.SoNguoi}")
                                                            </h6>
                                                            <h6>
                                                                <i class="fa fa-clock-o"></i>
                                                                @($"Giờ nhận bàn: {item.GioNhanBan}")
                                                            </h6>
                                                               
                                                                <div class="options">
                                                                <h6>
                                                                    <i class="fa fa-money"></i>
                                                                       Tổng trả trước: @((item.Tongtien as decimal?).GetValueOrDefault().ToString("#,##") + " đồng")
                                                                    </h6>
                                                                    
                                                                </div>
                                                            </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="template-demo d-flex justify-content-between flex-wrap" style="display:flex; justify-content:flex-start !important">                                                                
                                                                    <div class="dropdown" style="margin:0;">
                                                                        <button type="button" class="btn btn-success dropdown-toggle" id="dropdownMenuIconButton9" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fa fa-spin fa-cog"></i>
                                                                        </button>
                                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton9">
                                                                            <h6 class="dropdown-header">Settings</h6>
                                                                            <a class="dropdown-item" asp-action="DanhSachBanHD" asp-route-ID_HoaDon="@item.IdHoaDon" ><i class="fa fa-table"></i> Xếp bàn</a>
                                                                            <a class="dropdown-item" asp-action="MonAnHoaDon" asp-route-ID_HoaDon="@item.IdHoaDon"><i class="fa fa-shopping-cart"></i> Chọn món</a>
                                                                            <div class="dropdown-divider"></div>
                                                                            <a class="dropdown-item" asp-action="HuyLich" asp-route-ID_HoaDon="@item.IdHoaDon" style="color:red">
                                                                                <i class="fa fa-times" style="color:red"></i> Hủy lịch
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <a asp-action="UpdateNhanBan" asp-route-ID_HoaDon="@item.IdHoaDon" style="margin-left:55px; line-height:37.6px">Khách nhận bàn</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    <div>
                                        @Html.PagedListPager(Model, page => Url.Action("LichDatBan", new { page = page }))
                                    </div>
                                    </div>
                                   
                                    @* <div class="btn-box">
                                    <a href="">
                                    View More
                                    </a>
                                    </div> *@
                               
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
